            <div class="row">
              <div class="span8">
                <div class="control-group text optional link_summary">
                  <label class="text optional control-label" for="link_summary">摘要</label>

                  <ul class="nav nav-tabs" id="myTab">
                    <li><a href="#writetab" data-toggle="tab">編輯(使用markdown語法)</a></li>
                    <li><a href="#previewtab" data-toggle="tab">預覽</a></li>
                  </ul>

                  <div class="tab-content">
                    <div class="tab-pane active" id="writetab">
                      <% if @link.summary.blank? %>
                        <textarea id="text-input" oninput="this.editor.update()" rows="8" cols="60" class="input-xxxlarge" type="text"><%= render partial: "markdown_text" %></textarea>
                      <% else %>
                        <textarea id="text-input" oninput="this.editor.update()" rows="14" cols="60" class="input-xxxlarge" type="text"><%= @link.summary %></textarea>
                      <% end %>
                    </div>
                    <div class="tab-pane markdown-bg" id="previewtab">
                      <div id="preview"></div>
                    </div>
                  </div>

                  <script>
                  (function($){
                  $(function(){ 
                    $('#myTab a').click(function (e) {
                      e.preventDefault();
                      $(this).tab('show');
                    })

                    $( "#submit-button" ).on('click',function() {
                      var form_id = $("form:first").attr("id");
                      $("#link_summary").val($("#text-input").val());
                      $( "#"+form_id ).submit();
                    });
                  });
                  })(jQuery)

                  function Editor(input, preview) {
                    this.update = function () {
                      preview.innerHTML = markdown.toHTML(input.value);
                    };
                    input.editor = this;
                    this.update();
                  }
                  var $ = function (id) { return document.getElementById(id); };
                  new Editor($("text-input"), $("preview"));
                  </script>

                </div>
              <input id="submit-button" name="commit" type="submit" value="儲存資料">

              </div>
              <div class="span4">
                <%= render partial: "markdown_tips" %>
                </div>
              </div>