<div style="width:75px;height:75px;display: table-cell;vertical-align:middle;overflow:hidden;">
  <%= image_tag link.thumbnail_url ? link.thumbnail_url : 'noimage.jpg' , class: "center-block" %>
</div>