<div style="width:100px;height:100px;overflow:hidden;display: table-cell;vertical-align: middle;">
  <%= image_tag link.thumbnail_url ? link.thumbnail_url : 'noimage.jpg' , class: "center-block" %>
</div>