<h4>markdown語法摘要</h4>
<pre><code>標題
  ============ (or----------)</code></pre>
  <pre><code>＃,##,###,####,#####,######小標題</code></pre>
  <pre><code>[連結UTOOL](http://utool.herokuapp.com)</code></pre>
  <pre><code>![ruby icon](http://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Ruby_logo.png/105px-Ruby_logo.png)</code></pre>
  <pre><code>>在這個符號(>)後所寫的字都是區塊，直到整行的最大長度才會換行，如要恢復正常文字請空一行</code></pre>
  <pre><code>(四個空格)後面接程式區塊
    程式區塊
    程式區塊第二行</code></pre>
  <p>其他更多用法 請參考 <a href="https://www.google.com.tw/search?safe=off&espv=210&es_sm=91&q=markdown+語法&oq=markdown+語法" target="_blank">markdown語法</a></p>