<div class="row">
  <div class="span1">
  </div>
  <div class="span8">
    <button class="btn btn-link">前端</button>
    <button class="btn btn-link">RubyGem</button>
    <button class="btn btn-link">教學</button>
    <button class="btn btn-link">討論</button>
  </div>
  <div class="span3">
    <%= link_to '新增網址',new_link_path,class: "btn btn-large btn-block" %>
  </div>
</div>

<div class="row">
 <table class="table table-striped table-hover" style="table-layout: fixed;">
  <thead>
   <tr>
     <th style="width:10%"></th>
     <th style="width:10%">類別</th>
     <th style="width:20%">標題</th>
     <th style="width:30%">描註</th>
     <th style="width:20%">作者</th>
     <th style="width:10%">點擊數</th>
   </tr>
 </thead>
 <tbody id="content">
  <% @links.each do |link| %>
  <%= content_tag_for(:tr,link) do %>
    <th>        
      <img alt="Logo 50" src="http://www.colorzilla.com/firefox/images/logo-50.png" class="center-block" style="width:50px;height:50;" />
    </th>
    <th> 
      教學
    </th>
    <th>
      <%= link_to link.title,link.url  %>
    </th>
    <th>Registration allows you to retrieve your saved files.
    </th>
    <th>
      <img alt="motephyr" height="15" src="http://gravatar.com/avatar/2cf67e7b3ada70d681ebe4b47bfb8dac?size=15" width="15" />motephyr
    </th>
    <th>
      500
    </th>
  <% end %>
  <% end %>

</tbody>
</table>

</div>