<div class="row">
  <div class="span3">
    <% if @link.editable_by?(current_user) %>
    <div class="row">
      <div class="span1 offset2">
        <%= link_to '修改', edit_link_path(@link) ,class: 'btn btn-block' %>
        <%= link_to '刪除', link_path(@link),class: 'btn btn-block',method: 'delete' ,confirm: 'Are you sure?'  %>
      </div>
    </div>
    <% end %>
  </div>
  <%= render partial: 'links/link_preview',  locals: {link: @link} %>


</div>

<hr></hr>


<% content_for :stylesheets do %>
<%= stylesheet_link_tag "links" %>
<% end %>
