      <div class="hero-unit blue-3d-13">
        <h1><%= Setting.app_name %></h1>
        <h2>身不離劍 劍不離身</h2>
        <p>在學習的道路上，良師、益友、Google和書本是你得到新知識的管道，知識會慢慢累積在你的腦海裡。但有些東西你會一而再，再而三的使用它，那就是你的工具。這個地方期望你將你常用的工具網站和易忘的知識收集起來，變成你個人不離身的工具箱，隨查即用。</p>
        <%= link_to "註冊試用","homes/index1",class: "btn btn-large btn-info"  %>
      </div>