<div class="row">
  <div class="span1">
    <button class="btn btn-block">新增類別</button>
  </div>
  <div class="span8">
    <button class="btn btn-link">前端</button>
    <button class="btn btn-link">RubyGem</button>
    <button class="btn btn-link">教學</button>
    <button class="btn btn-link">討論</button>
  </div>
  <div class="span3">
    <button class="btn btn-large btn-block">新增網站</button>
  </div>
</div>

<div class="row">

  <div class="span3">
    <div class="row">
      <div class="span1">
        <img alt="Logo 50" src="http://www.colorzilla.com/firefox/images/logo-50.png" class="center-block" style="width:75px;height:75;" />
        <button class="btn btn-mini btn-block">修改</button>
        <button class="btn btn-mini btn-block">刪除</button>
      </div>
      <div class="span2">
        <h5><a href="http://www.colorzilla.com/gradient-editor/">Ultimate CSS Gradient Generator</a></h5>
        <p>
          A powerful Photoshop-like CSS gradient editor from ColorZilla. News: version 4 
        </p>
      </div>
    </div>
  </div>

  <div class="span3">
    <div class="row">
      <div class="span1">
        <img alt="Logo 50" src="http://www.colorzilla.com/firefox/images/logo-50.png" class="center-block" style="width:75px;height:75;" />
        <button class="btn btn-mini btn-block">修改</button>
        <button class="btn btn-mini btn-block">刪除</button>
      </div>
      <div class="span2">
        <h5><a href="http://www.colorzilla.com/gradient-editor/">Ultimate CSS Gradient Generator</a></h5>
        <p>
          A powerful Photoshop-like CSS gradient editor from ColorZilla. News: version 4 
        </p>
      </div>
    </div>
  </div>

  <div class="span3">
    <div class="row">
      <div class="span1">
        <img alt="Logo 50" src="http://www.colorzilla.com/firefox/images/logo-50.png" class="center-block" style="width:75px;height:75;" />
        <button class="btn btn-mini btn-block">修改</button>
        <button class="btn btn-mini btn-block">刪除</button>
      </div>
      <div class="span2">
        <h5><a href="http://www.colorzilla.com/gradient-editor/">Ultimate CSS Gradient Generator</a></h5>
        <p>
          A powerful Photoshop-like CSS gradient editor from ColorZilla. News: version 4 
        </p>
      </div>
    </div>
  </div>

</div>