      <div class="hero-unit blue-3d-13">
        <h1><%= Setting.app_name %></h1>
        <h2>隨筆、心得、摘要</h2>
        <p>在學習的道路上，良師、益友、Google和書本是你得到新知識的管道，知識會慢慢累積在你的腦海裡。</p>
        <p>讀了一篇技術文件，打算找時間寫下重點；看到一篇好文章，當下有感而發；</p>
        <p>將吸收的知識融會貫通、留下一閃而過的靈感，希望這裡對你有所幫助。</p>
        <%= link_to "註冊試用","homes/index1",class: "btn btn-large btn-info"  %>
      </div>

<div class="code-body highlight"><h6>工作日誌</h6><pre>
<div class='line' id='LC1'>2/14 擬定網站初步方向(我可以偷偷想著說比照<a href="http://zh.wikipedia.org/wiki/Apache%E8%BD%AF%E4%BB%B6%E5%9F%BA%E9%87%91%E4%BC%9A">Apache基金會</a>辦理嗎？)</div>
<div class='line' id='LC1'>2/11 markdown編輯功能上線。</div>
</pre></div>
<h6>目前維護者：</h6>
<h6><a href="https://www.facebook.com/yijuwu">馬克</a>
