<h2>新增</h2>
<div class="row">
  <div class="span3">
    <form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="KkVRenUwLpIqmqcn9x3bjzrbD54aHI55Xu4doyxI2Uk=" /></div>
      <div><label for="user_name">網址</label><br />
        <input autofocus="autofocus" id="user_name" name="user[name]" type="chec" /></div>

        <div><label for="user_name">類別</label><br />
          <input autofocus="autofocus" id="user_name" name="user[name]" type="chec" /></div>

          <div><label for="user_email">描述</label><br />
            <input autofocus="autofocus" id="user_email" name="user[email]" type="email" value="" /></div>

            <div><input name="commit" type="submit" value="送出" /></div>
          </form>
        </div>

        <div class="span3">
          <div class="row">
            <div class="span1"> 
              <img alt="Logo 50" src="http://www.colorzilla.com/firefox/images/logo-50.png" class="center-block" style="width:75px;height:75;" />
            </div>
            <div class="span2">
              <h5><a href="http://www.colorzilla.com/gradient-editor/">Ultimate CSS Gradient Generator</a></h5>
              <p>
                A powerful Photoshop-like CSS gradient editor from ColorZilla. News: version 4 
              </p>
            </div>
          </div>
        </div>

      </div>


