@import "bootstrap-setting";
@import "twitter/bootstrap";
@import "bootstrap-override";
@import "bootstrap-responsive";

body {
  background-color: #f8f8f8;
  background-image: url(/assets/bg.jpg);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
}

.social{
   float:left;
   width: 90px;
   padding: 5px;
   padding-top: 10px;
   border-right: none;
}
.social > div {
  height: 20px;
}
.social > div > * {
  display: block;
  float: left;
}

.group:before, .group:after {
   content: "";
   display: table;
}
.group:after {
   clear: both;
}
.group {
   zoom: 1; /* IE6&7 */
}

.markdown-bg{
  background-color:#e1e1e1;
}