// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_link_image{
  height:100px;
  text-align : center;
  line-height : 100px;
}

.embly_preview{
  height:245px;
}